@charset "UTF-8";

/* 비주얼영역 */
#visualWrap {position: relative; width: 100%; height: 120vh;}
#visualWrap .visualBox{position: sticky; top: 0; width: 100%; height: 100vh; overflow: hidden; z-index: 10;}
#visualWrap .visualVideoBox{ position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; overflow: hidden;}
#visualWrap .visualTextBox{position: absolute; inset: 0; max-width: 71.35vw; padding: 0 1.04vw; margin: 0 auto; display: flex; flex-direction: column; justify-content: center;}
#visualWrap .visualTextBox h2{font-size: 7.8vw; font-weight: 500; color: #222; font-family: 'HelveticaNowDisplay'; letter-spacing: -0.05vw; white-space: nowrap;}
#visualWrap .visualTextBox h2 span{margin-top: 2.08vw; font-size: 0.83vw; font-weight: 600; color: #222;}
#visualWrap .visualText{display: flex; align-items: center; line-height: 1;}
#visualWrap .visualText02 h2{display: flex; gap: 0 3.96vw}

/* 모션 */
#visualWrap .visualText,
#visualWrap .visualVideoBox{transition: all 1.3s;}

/* 초기 */
#visualWrap .visualVideoBox,
#visualWrap .visualText{opacity: 0;}
#visualWrap .visualText{gap: 0 0;}
#visualWrap .visualText02{gap: 0 10vw;}
#visualWrap .visualText03{gap: 0 20vw;}
#visualWrap .visualText01{transform: translateX(-10vw);}
#visualWrap .visualText02{transform: translateX(20vw);}
#visualWrap .visualText03{transform: translateX(-10vw);}

#visualWrap .visualText h2 {opacity: 1; transform: translateY(0) rotate(0deg); transition:
        transform 0.8s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.6s ease;}

/*  페이지 진입 */
#visualWrap .visualBox.active .visualText{opacity: 1;}
#visualWrap .visualBox.active .visualText01{transform: translateX(0);}
#visualWrap .visualBox.active .visualText02{transform: translateX(10vw);}
#visualWrap .visualBox.active .visualText03{transform: translateX(6vw);}

/* 스크롤 1회 비디오 + 텍스트 최종 위치 */
#visualWrap .visualBox.step01 .visualVideoBox{opacity: 1;}
#visualWrap .visualBox.step01 .visualText{gap: 0 16.67vw;}
#visualWrap .visualBox.step01 .visualText01{transform: translateX(0);}
#visualWrap .visualBox.step01 .visualText02{transform: translateX(0);}
#visualWrap .visualBox.step01 .visualText03{transform: translateX(12vw);}

/* 부모 transition */
#visualWrap .visualText01,
#visualWrap .visualText02,
#visualWrap .visualText03 {transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);}

/* 텍스트 하단 낙하 + 회전 + 페이드아웃
   순차적으로 떨어지는 효과 */
#visualWrap .visualBox.step02 .visualText01 h2 {transform: translateY(100vh) rotate(50deg); opacity: 0;
    transition-delay: 0s;}
#visualWrap .visualBox.step02 .visualText02 h2:nth-child(1) { transform: translateY(100vh) rotate(-50deg);
    opacity: 0; transition-delay: 0.05s;}
#visualWrap .visualBox.step02 .visualText02 h2:nth-child(2) {transform: translateY(100vh) rotate(50deg);
    opacity: 0; transition-delay: 0.1s;}
#visualWrap .visualBox.step02 .visualText03 h2:nth-child(1) {transform: translateY(100vh) rotate(50deg);
    opacity: 0; transition-delay: 0.15s;}
#visualWrap .visualBox.step02 .visualText03 h2:nth-child(2) { transform: translateY(100vh) rotate(-50deg);
    opacity: 0; transition-delay: 0.2s;}

#visualWrap .visualScrollBox{position: absolute; left: 50%;
    bottom: 0; display: flex; flex-direction: column; align-items: center; gap: 1.04vw; transform: translateX(-50%);overflow: hidden; z-index: 9999999;}
#visualWrap .visualScrollText{display: block; font-size: 0.83vw;  color: #B4B4B4; font-weight: 600;}
#visualWrap .visualScrollLine{position: relative; width: 0.05vw; height: 3.13vw;
    background: #E8E8E8;}
#visualWrap .visualScrollLine::after{content: ''; position: absolute;
    top: 0; left: 0; width: 0.05vw; height: 1.04vw; background: #222; animation: scrollLine 1.8s infinite;}

@keyframes scrollLine{
   0%{
        transform: translateY(0);
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}

#visualWrap .proposalDownloadBtn{width: 119px; height: 119px; position: absolute; top:219px; right:-100%; z-index: 999; transition: all 1.3s;}
#visualWrap .proposalDownloadBtn.active{right: 124px;}
#visualWrap .proposalDownloadBtn img{position: absolute; top: 0;
    left: 0; width: 100%; height: 100%; animation: proposalRotate 10s linear infinite;}
#visualWrap .proposalDownloadBtn span{ position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: center; width: 80px; height: 80px; border-radius: 50%; background-color: #FD3D32;
    font-size: 24px; font-weight: 700; color: #fff; font-family: 'HelveticaNowDisplay';}

@keyframes proposalRotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

#visualWrap .visualVideoBox video{display: block; object-fit: cover; width: 12.50vw;  height: 22.24vw; }
#visualWrap.active .visualVideoBox video{transform: scale(1); opacity: 1;}


@media (max-width: 1199px){

  #visualWrap .visualVideoBox video{width: 26vw; height: 50vw;}
  #visualWrap .proposalDownloadBtn{top: 120px;}
  #visualWrap .proposalDownloadBtn.active{right: 50px;}

  /* 모션 */
  #visualWrap .visualTextBox{max-width: 90vw;}
  #visualWrap .visualBox.step01 .visualText{gap: 0 35vw;}

}

@media (max-width: 768px){

  #visualWrap .visualTextBox{max-width: 96vw;}
  #visualWrap .visualBox.step01 .visualText{gap: 0 40.7vw;}
  #visualWrap .visualVideoBox video{width: 32vw; height: 60vw;}

}

@media (max-width: 480px){

  #visualWrap .visualVideoBox video {width: 52vw; height: 79vw;}
  #visualWrap .visualBox .visualText{gap: 0 16vw;}
  #visualWrap .visualTextBox{padding: 112px 20px 0; max-width: none; justify-content: flex-start;}
  #visualWrap .visualTextBox h2{font-size: 48px;}
  #visualWrap .visualText{gap: 0;}
  #visualWrap .visualTextBox h2 span{margin-top: 12px; font-size: 10px;}
  #visualWrap .visualText02{padding-left: 9px; letter-spacing: 1px;}
  #visualWrap .visualText02 h2{gap: 0 25px;}

  #visualWrap .visualScrollBox{gap:8px;}
  #visualWrap .visualScrollText{font-size: 10px;}
  #visualWrap .visualScrollLine{width: 1px; height: 52px;}
  #visualWrap .visualScrollLine::after{width: 1px; height: 20px;}
  #visualWrap .proposalDownloadBtn{width: 90px; height: 90px; left:28px; top: 409px;}
  #visualWrap .proposalDownloadBtn span{width: 60px; height: 60px; font-size: 18px;}

  /* 모션 */
  #visualWrap .visualBox.step01 .visualText02{gap: 0 25.7vw;}
  #visualWrap .visualBox.step01 .visualText03{transform: translateX(0);}
  
}

@media (max-width: 360px){

  #visualWrap .visualVideoBox video{width: 62vw; height: 116vw;}
  #visualWrap .visualTextBox h2{font-size: 38px;}
  #visualWrap .visualTextBox h2 span{font-size: 8px;}
  #visualWrap .visualText02 h2{gap: 0 18px;}
  #visualWrap .proposalDownloadBtn{width: 64px; height: 64px;}
  #visualWrap .proposalDownloadBtn span{width: 40px; height: 40px; font-size: 10px;}

    /* 모션 */
  #visualWrap .visualBox.step01 .visualText02{gap: 0 19.7vw;}
  #visualWrap .visualBox.step01 .visualText03{gap: 0 33.7vw; transform: translateX(0);} 

}

/* 소개 영역 */
#aboutWrap {padding: 160px 0; position: relative; width: 100%;
    background: #222; color: #fff; overflow: hidden;}
#aboutWrap .aboutContentBox{display: flex; flex-direction: column; justify-content: center;}
#aboutWrap .container,
#aboutWrap .aboutBox,
#aboutWrap .aboutContentBox {height: 100%;}
#aboutWrap .aboutTitleBox {margin-bottom: 60px; text-align: center;}
#aboutWrap .aboutTitleBox > span {display: block; margin-bottom: 20px;
    font-size: 16px; font-weight: 600}
#aboutWrap .aboutTitleBox h2 {font-size: 80px; font-family: 'HelveticaNowDisplay'; font-weight: 500; line-height: 1;
    color: #fff; word-break: keep-all;}
#aboutWrap .aboutTitleBox h2 strong {display: inline-block; font-weight: 500;}
#aboutWrap .aboutViewLink {display: flex; align-items: center;    padding-left: 20px; width: 162px; height: 36px; margin: 0 auto 100px;    border: 1px solid #fff; border-radius: 50px}
#aboutWrap .aboutViewLink span{display: flex; align-items: center;
    gap: 0 16px; font-weight: 600; color: #fff;}
#aboutWrap .aboutViewLink span::after {content: ''; width: 24px; height: 24px;
    background:
        url(../images/main/arrow_icon.svg)
        no-repeat center / contain;}
#aboutWrap .aboutTextBox {display: flex; gap: 0 183px;}

#aboutWrap .aboutTextBox .aboutText span {display: block; margin-bottom: 20px;
   font-weight: 600; color: #fff;}
#aboutWrap .aboutTextBox .aboutText p {font-size: 20px; font-weight: 700;
    color: #fff;}
#aboutWrap .aboutText02 {padding-top: 196px;}
#aboutWrap .aboutContentBox{display: flex; flex-direction: column; justify-content: center;}
#aboutWrap .container,
#aboutWrap .aboutBox,
#aboutWrap .aboutContentBox{height: 100%;}
#aboutWrap .aboutViewLink{display: flex; align-items: center; padding-left: 20px; width: 162px; height: 36px; margin: 0 auto 100px; border: 1px solid #fff; border-radius: 50px;}
#aboutWrap .aboutViewLink span{display: flex; align-items: center; gap: 0 16px; font-weight: 600; color: #fff;}
#aboutWrap .aboutViewLink span::after{content: ''; width: 24px; height: 24px; background: url(../images/main/arrow_icon.svg)no-repeat center / contain;}
#aboutWrap .aboutTitleBox{margin-bottom: 60px; text-align: center;}
#aboutWrap .aboutTitleBox span{display: block; margin-bottom: 20px; font-size: 16px; font-weight: 600;}
#aboutWrap .aboutTitleBox h2{font-size: 80px; font-weight: 500; font-family: 'HelveticaNowDisplay'; line-height: 1; word-break: keep-all; color: #fff;}
#aboutWrap .aboutTitleBox h2 strong{display: inline-block; font-weight: 500;}
#aboutWrap .aboutTextBox{display: flex; gap: 0 183px;}
#aboutWrap .aboutTextBox .aboutText span{display: block; margin-bottom: 20px; font-weight: 600; color: #fff;}
#aboutWrap .aboutTextBox .aboutText p{font-size: 20px; font-weight: 700; color: #fff;}
#aboutWrap .aboutText02{padding-top: 196px;}

@media (max-width: 1199px){

  #aboutWrap .aboutTitleBox{margin-bottom: 50px;}
  #aboutWrap .aboutTitleBox h2{font-size: 60px;}
  #aboutWrap .aboutTextBox .aboutText span{margin-bottom: 12px; font-size: 14px;}
  #aboutWrap .aboutTextBox .aboutText p{font-size: 16px;}

}

@media (max-width: 768px){

  #aboutWrap .aboutTextBox{gap: 60px 0;}
  #aboutWrap .aboutTextBox .aboutText{width: 100%;}
  #aboutWrap .aboutTitleBox h2{font-size: 40px;}
  #aboutWrap .aboutTextBox .aboutText p{font-size: 14px;}
  #aboutWrap .aboutTextBox .aboutText p br{display: none;}

}

@media (max-width: 480px){

  #aboutWrap{padding: 120px 0;}
  #aboutWrap .aboutTitleBox{margin-bottom: 32px;}
  #aboutWrap .aboutTitleBox span{margin-bottom: 12px; font-size: 14px;}
  #aboutWrap .aboutTitleBox h2{font-size: 30px;}
  #aboutWrap .aboutViewLink span{gap: 0 12px; font-size: 14px;}
  #aboutWrap .aboutViewLink span::after{width: 16px; height: 16px;}
  #aboutWrap .aboutViewLink{padding-left: 12px; width: 130px; height: 30px;}
  #aboutWrap .aboutTextBox .aboutText p{font-size: 16px;}
  #aboutWrap .aboutTextBox{flex-direction: column;}
  #aboutWrap .aboutText02{padding-top: 0;}
  

}

@media (max-width: 360px){
  
  #aboutWrap .aboutTitleBox h2 br{display: none;}
  #aboutWrap .aboutTitleBox span{font-size: 10px;}
  #aboutWrap .aboutTextBox .aboutText p br{display: none;}
  #aboutWrap .aboutTextBox .aboutText span{font-size: 10px;}
  #aboutWrap .aboutTextBox .aboutText p{font-size: 14px;}
  #aboutWrap .aboutViewLink span{gap: 0 8px; font-size: 12px;}
  #aboutWrap .aboutViewLink{padding-left: 12px; width: 109px; height: 22px;}

}

/* 프로젝트 영역 */
#projectWrap{position:relative; background-color:#F5F5F5;}
#projectWrap .container {width: 100%; height: 100%;}
#projectWrap .projectBox{position:sticky;top:0;width:100%;height:100vh;overflow:hidden;display:flex;align-items:center;}
#projectWrap .projectContentBox{width:100%;display:flex;flex-direction:column;gap:8.33vw 0;}
#projectWrap .projectTitleBox{width:100%;margin:0;}
#projectWrap .projectTitleBox h2{margin:0;font-size:70px;color:#222;font-family:'HelveticaNowDisplay';font-weight:500;line-height:1;text-align:left;}
#projectWrap .projectList{position:relative;width:100%;height:360px;margin:0;padding:0;list-style:none;}
#projectWrap .projectList li{position:absolute;top:0;left:0;width:600px;height:360px;overflow:hidden;transition:width .8s cubic-bezier(.65,0,.35,1),transform .8s cubic-bezier(.65,0,.35,1);will-change:width,transform;}
#projectWrap .projectList li .projectImgBox{position:absolute;inset:0;}
#projectWrap .projectList li .projectImgBox img{display:block;width:100%;height:100%;object-fit:cover;}
#projectWrap .projectList li .projectTextBox{position:relative;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between;padding:40px 40px 40px 32px;}
#projectWrap .projectList li .projectTextBox .projectName{margin:0;font-size:32px;font-weight:700;color:#fff;white-space:nowrap;}
#projectWrap .projectList li .projectTextBox .projectDesc{margin:0;font-weight:600;color:#fff;white-space:nowrap;}

@media (max-width: 1199px){

  #projectWrap .projectTitleBox h2{font-size: 40px;}
  #projectWrap .projectList li .projectTextBox .projectName{font-size: 26px;}

}

@media (max-width: 1024px){

  #projectWrap .projectList li .projectTextBox .projectName{font-size: 22px;}

}

@media (max-width: 768px){

  #projectWrap {padding: 120px 0;}
  #projectWrap .projectBox{height: auto;}
  #projectWrap .projectContentBox{gap: 60px 0;}
  #projectWrap .projectTitleBox h2{font-size: 30px;}
  #projectWrap .projectList{display: flex; flex-direction: column; height: auto;}
  #projectWrap .projectList li{position: relative; top: auto; left: auto; width: 100%;
    height: 60px;  transform: none; transition: all .7s;}
  #projectWrap .projectList li.active{height: 200px;}
  #projectWrap .projectList li .projectTextBox{padding: 30px 34px}
  #projectWrap .projectList li .projectTextBox .projectName{font-size: 20px;}
  #projectWrap .projectList li .projectTextBox .projectDesc{font-size: 14px;}

}

@media (max-width: 360px){

  #projectWrap {padding: 80px 0;}
  #projectWrap .projectContentBox{gap: 40px 0;}
  #projectWrap .projectList li{height: 20px;}
  #projectWrap .projectList li.active{height: 120px;}
  #projectWrap .projectTitleBox h2{font-size: 24px;}
  #projectWrap .projectList li .projectTextBox{padding: 12px 16px;}
  #projectWrap .projectList li .projectTextBox .projectName{font-size: 14px;}
  #projectWrap .projectList li .projectTextBox .projectDesc{font-size: 10px;}

}

/* 회사정보 영역 */
#companyInfoWrap{padding: 0 0 160px; background-color: #F5F5F5;}
#companyInfoWrap .companyInfoLayoutBox {position: relative; display: flex; align-items: flex-start; justify-content: space-between; gap: 0 100px; padding-right: 100px;
  height: 100vh;}
#companyInfoWrap .companyTitleBox{margin-bottom: 92px;}
#companyInfoWrap .companyTitleBox span{display: block; margin-bottom: 20px; color: #222; font-weight: 600;}
#companyInfoWrap .companyTitleBox p{color: #222; font-weight: 700; font-size: 32px;}
#companyInfoWrap .companyVisualBox{flex: 1; position: sticky; top: 150px; flex-shrink: 0; display: flex;
    flex-direction: column; align-items: flex-start; justify-content: flex-start; overflow: hidden;}
#companyInfoWrap .companyVisualContentBox{width: 100%;}
#companyInfoWrap .companyImgBox {position: relative; max-width: 360px; height: 240px;}
#companyInfoWrap .companyImgBox img { position: absolute; top:0; left:0; right:0; bottom: 0; width: 100%; height: 100%; object-fit: cover; opacity:0;visibility:hidden;transition:opacity .6s ease,visibility .6s ease;}
#companyInfoWrap .companyImgBox img.active{opacity:1;visibility:visible;}
#companyInfoWrap .companyInfoNumberBox{flex-shrink: 0; display: flex; flex-direction: column; gap: 120px 0;}
#companyInfoWrap .companyInfoNumberBox .companyInfoNumber span{display: block; margin-bottom: 20px; font-weight: 600;} 
#companyInfoWrap .companyInfoNumberBox .companyInfoNumber strong,
#companyInfoWrap .companyInfoNumberBox .companyInfoNumber em{display: block; font-size: 120px; font-weight: 500; color: #222; font-family: 'HelveticaNowDisplay'; line-height: 1;}  

#companyInfoWrap .companyInfoNumberBox{padding: 100px 0 0;}
#companyInfoWrap .companyInfoNumberBox .companyInfoNumberValue{display: flex; gap: 0 30px;}

@media (max-width: 1199px){
  
  #companyInfoWrap{padding: 0 0 120px;}
  #companyInfoWrap .companyTitleBox{width: 100%; margin-bottom: 80px;}
  #companyInfoWrap .companyTitleBox span{margin-bottom: 18px;}
  #companyInfoWrap .companyTitleBox p{font-size: 26px;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber strong,
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber em{font-size: 80px;}
  #companyInfoWrap .companyInfoNumberBox{gap: 70px 0;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumberValue{gap: 0 17px;}

}

@media (max-width: 1024px){

  #companyInfoWrap .companyTitleBox{width: 100%; margin-bottom: 70px;}
  #companyInfoWrap .companyInfoLayoutBox{padding-right: 0;}

}

@media (max-width: 768px){

  #companyInfoWrap .companyTitleBox{margin-bottom: 60px;}
  #companyInfoWrap .companyTitleBox p{font-size: 20px;}
  #companyInfoWrap .companyInfoNumberBox{gap: 40px 0;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber strong,
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber em{font-size: 46px;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber span{margin-bottom: 10px; font-size: 14px;}
  #companyInfoWrap .companyInfoLayoutBox{height: 70vh; gap: 0 50px;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumberValue{gap: 0 10px;}

}

@media (max-width: 480px){

  #companyInfoWrap .companyTitleBox{margin-bottom: 56px;}
  #companyInfoWrap .companyTitleBox span{margin-bottom: 12px;}
  #companyInfoWrap .companyTitleBox p{font-size: 18px;}
  #companyInfoWrap .companyTitleBox p br{display: none;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber strong,
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumber em{font-size: 30px;}
  #companyInfoWrap .companyInfoNumberBox .companyInfoNumberValue{gap: 0 5px;}
  #companyInfoWrap .companyImgBox{height: 0; padding-top: 83%;}

}

@media (max-width: 360px){
  
  #companyInfoWrap .companyInfoNumberBox{padding: 100px 0 0;}
  #companyInfoWrap .companyInfoLayoutBox{height: 53vh;}
  #companyInfoWrap .companyTitleBox{margin-bottom: 40px;}
  #companyInfoWrap .companyTitleBox span{font-size: 10px;}
  #companyInfoWrap .companyTitleBox p{font-size: 14px;}

}

/* 문의하기 영역 */
#contactWrap{position: relative; padding: 40px 0; background-color: #FD3D32; z-index: 55555;}
#contactWrap .contactTitleBox h2{margin-bottom: 235px; font-weight: 700; color: #222;
    font-family: 'HelveticaNowDisplay'; font-size: 120px; line-height: 1; word-break: keep-all;}
#contactWrap .contactContentBox{display: flex; align-items: center; justify-content: space-between;}
#contactWrap .contactInfoTextBox span{display: block; margin-bottom: 20px; color: #fff; font-weight: 600;}
#contactWrap .contactInfoTextBox p{font-size: 24px; font-weight: 700; color: #fff; font-family: 'HelveticaNowDisplay';}
#contactWrap .contactProjectText {position: relative; display: inline-block;}
#contactWrap .contactProjectLine {position: absolute; z-index: 1; top: -30%;
  left: -10%; width: 120%; height: 160%;  display: block; overflow: visible;
  pointer-events: none; /* 처음 나타나는 현상 방지 */ visibility: hidden;}
#contactWrap .contactProjectLine path {fill: none; stroke: #fff; stroke-width: 1;
 stroke-linecap: round; stroke-linejoin: round; vector-effect: non-scaling-stroke;}
#contactWrap .contactInfoBox{display: flex; flex-direction: column; align-items: flex-end; gap : 28px 0;}
#contactWrap .contactInfoBox p{color: #fff; font-weight: 700; font-size: 24px; text-align: right;}
#contactWrap .contactInfoBox .contactInfoText{display: flex; flex-direction: column; gap: 30px 0}
#contactWrap .contactInfoBox .contactInfoText::after{content: ''; width: 43px; height: 76px; background: url(../images/main/arrow_icon03.svg)no-repeat center / contain;}
#contactWrap .contactLink{padding: 0 10px; display: flex; align-items: center; justify-content: center; width: 480px; height: 80px; background-color: #222;}
#contactWrap .contactLink span{display: flex; align-items: center; gap: 0 32px; font-size: 40px; font-weight: 500; color: #fff; font-family: 'HelveticaNowDisplay';}
#contactWrap .contactLink span::after{content: ''; width: 16px; height: 24px; background: url(../images/main/arrow_icon02.svg)no-repeat center / contain;}

@media (max-width: 1199px){
  
  #contactWrap .contactContentBox{ flex-direction: column; align-items: normal; gap: 100px 0;}
  #contactWrap .contactLink{align-self: flex-end;}
  #contactWrap .contactTitleBox h2{margin-bottom: 80px; font-size: 70px;}
  #contactWrap .contactInfoTextBox p{font-size: 20px;}
  #contactWrap .contactInfoTextBox span{margin-bottom: 12px;}
  #contactWrap .contactLink span{font-size: 26px;}
  #contactWrap .contactLink{width: 330px; height: 60px;}
  #contactWrap .contactInfoBox p{font-size: 20px;}

}

@media (max-width: 768px){

  #contactWrap .contactTitleBox h2{font-size: 40px;}
  #contactWrap .contactInfoTextBox p{font-size: 18px;}
  #contactWrap .contactLink span{gap: 0 25px; font-size: 20px;}
  #contactWrap .contactLink span::after{width: 14px; height: 21px;}
  #contactWrap .contactLink{width: 250px;}
  
}

@media (max-width: 480px){

  #contactWrap .contactTitleBox h2{font-size: 34px;}
  #contactWrap .contactInfoTextBox span{font-size: 14px;}
  #contactWrap .contactInfoTextBox p{font-size: 16px;}
  #contactWrap .contactInfoBox p{font-size: 18px;}
  #contactWrap .contactInfoBox .contactInfoText::after{width: 34px; height: 60px;}#contactWrap .contactInfoBox{gap: 10px 0;}
  #contactWrap .contactInfoBox .contactInfoText{gap: 20px 0;}

}

@media (max-width: 360px){

  #contactWrap{padding: 20px 0;}
  #contactWrap .contactTitleBox h2{font-size: 24px;}
  #contactWrap .contactInfoBox .contactInfoText{gap: 8px 0;}
  #contactWrap .contactInfoTextBox span{font-size: 10px;}
  #contactWrap .contactInfoTextBox p{font-size: 12px;}
  #contactWrap .contactLink{width: 160px; height: 40px;}
  #contactWrap .contactLink span{gap: 0 20px; font-size: 16px;}
  #contactWrap .contactLink span::after{width: 8px; height: 12px;}
  #contactWrap .contactInfoBox p{font-size: 12px;}
  #contactWrap .contactInfoBox{gap: 8px 0;}
  #contactWrap .contactInfoBox .contactInfoText::after{margin-left: 15px; width: 15px; height: 35px;}

}