@charset "UTF-8";

/* 공통 */
.subContentBox{padding: 0 0 100px;}
.subTopBox{margin-bottom: 120px; padding: 240px 0 0;}

.topTitleBox{display: flex; flex-direction: column; justify-content: space-between; gap: 0 20px;}
.topTitleBox h2{flex-shrink: 0; color: #FD3D32; font-weight: 500; font-family: 'HelveticaNowDisplay'; font-size: 60px; line-height: 1;}
.topTitleBox .topText01{align-self: flex-end; color: #222; font-size: 80px; font-weight: 500; font-family: 'HelveticaNowDisplay'; line-height: 1; word-break: keep-all; text-align: right;}
.topTitleBox .topText02{margin-top: 60px; color: #222; font-size: 20px; font-weight: 600; text-align: right;}
.titleBox span{display: block; margin-bottom: 20px; color: #222; font-weight: 600; font-size: 16px;}
.titleBox p{font-size: 40px; font-weight: 500; color: #222; font-family: 'HelveticaNowDisplay'; line-height: 1; letter-spacing: -1px;}

.infoTextBox{display: flex; gap: 80px;}
.infoText{font-weight: 600; color: #222;}

@media (max-width: 1199px){
  
  .topTitleBox h2{font-size: 50px;}
  .topTitleBox .topText01{font-size: 65px;}
  .topTitleBox .topText02{margin-top: 50px; font-size: 18px;}

  .titleBox p{font-size: 36px;}

}

@media (max-width: 1024px){

  .topTitleBox h2{font-size: 40px;}
  .topTitleBox .topText01{font-size: 50px;}

}

@media (max-width: 768px){

  .subContentBox{padding: 0 0 50px;}
  .subTopBox{padding: 180px 0 0; margin-bottom: 80px;}

  .topTitleBox h2{font-size: 30px;}
  .topTitleBox .topText01{font-size: 36px;}
  .topTitleBox .topText02{margin-top: 40px; font-size: 16px;}

  .titleBox p{font-size: 26px;}

}

@media (max-width: 480px){

  .subTopBox{padding: 110px 0 0;}

  .topTitleBox h2{font-size: 26px;}
  .topTitleBox .topText01{font-size: 28px;}
  .topTitleBox .topText01 br{display: none;}
  .topTitleBox .topText02{margin-top: 28px; font-size: 14px;}
  .topTitleBox .topText02 br{display: none;}

  .titleBox span{margin-bottom: 12px; font-size: 14px;}
  .titleBox p{font-size: 22px;}
  .infoText{font-size: 14px;}
  .infoText br{display: none;}

}

@media (max-width: 360px){

  .topTitleBox h2{font-size: 18px;}
  .topTitleBox .topText01{font-size: 24px;}
  .topTitleBox .topText02{font-size: 12px;}

  .titleBox span{font-size: 10px;}
  .titleBox p{font-size: 18px;}
  .infoText{font-size: 12px;}

}


/* 폼 */
input{padding:12px 10px 12px 12px; border: 2px solid #222; border-width: 0 0 2px 0; font-weight: 600; font-size: 20px; background-color: transparent;}
input::placeholder{color: #222;}
input[type="checkbox"] + label{display: flex; align-items: center;color: #222; font-weight: 600; cursor: pointer;}
input[type="checkbox"] + label::before{content: ''; flex-shrink: 0; margin-right: 20px; width: 32px; height: 32px; border: 1px solid #222;}
input[type="checkbox"]:checked + label::before{background: url(../images/sub/check_icon.svg)no-repeat center / contain;}
textarea{padding: 24px 20px 20px 24px; border: 2px solid #222; font-weight: 600; color: #222; font-size: 20px; background: transparent;}
textarea::placeholder{color: #222;}

/* 폼 - 포커스 */
input:focus,
textarea:focus{border-color: #fff; color: #fff;}
input:focus::placeholder,
textarea:focus::placeholder {color: #fff;}

@media (max-width: 1199px){

  input,
  textarea{font-size: 18px;}

}

@media (max-width: 768px){

  input,
  textarea{font-size: 16px;}

  input[type="checkbox"] + label::before{width: 28px; height: 28px;}
  input[type="checkbox"]:checked + label::before{background-size: 20px;}

}

@media (max-width: 360px){
  
  input,
  textarea{font-size: 13px;}
  input[type="checkbox"] + label{font-size: 12px;}
  input[type="checkbox"] + label::before{margin-right: 12px; width: 24px; height: 24px;}

}

/* 가운데영역 */
.container{max-width: 1560px; width: 100%; margin: 0 auto; padding: 0 60px;}

@media (max-widtH: 1199px){

  .container{padding: 0 20px;}

}

/* 소개 영역 */
.aboutWrap{background-color: #F5F5F5;}
.aboutWrap #headerWrap .headerGnbBox .headerGnbList li h2 a{color: #fff; font-weight: 500; font-size: 20px;}
.aboutWrap .subTopBox{margin-bottom: 0; padding:0 0 40px; display: flex; align-items: flex-end; height: 800px; overflow: hidden; background: url(../images/sub/about_img.jpg)no-repeat center / cover;}
.aboutWrap .subContentBox{padding: 160px 0 120px;}
.aboutWrap .titleBox{margin-bottom: 4.17vw;}
.aboutWrap .infoTextBox{margin-left: 4.17vw;}
.aboutWrap .aboutVisionBox{margin: 0 0 6.25vw 0;}
.aboutWrap .aboutMissionBox{margin:0 0 6.25vw 12.50vw;}
.aboutWrap .aboutFutureBox{margin:0 0 6.25vw 25.00vw;}
.aboutWrap .aboutJourneyBox{margin:0 0 6.25vw 37.50vw;}
.aboutWrap .aboutJourneyList > li{border-bottom: 1px dashed #555;}
.aboutWrap .aboutJourneyList li a{position: relative; display: flex; align-items: center; padding: 26px 20px 26px 40px; transition: all .3s;}
.aboutWrap .aboutJourneyList li a .aboutJourneyYear{flex-shrink: 0; margin-right: 60px; font-weight: 500; font-size: 40px; color: #222; font-family: 'HelveticaNowDisplay';}
.aboutWrap .aboutJourneyList li a .aboutJourneyTitle{max-width: 650px; width: 100%; font-weight: 500; font-size: 40px; color: #222; font-family: 'HelveticaNowDisplay';}
.aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li{display: flex;  margin-bottom: 5px; color: #222;}
.aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li::before{content: ''; flex-shrink: 0; margin: 9px 5px 0; width: 3px; height: 3px; background-color: #222; border-radius: 50%;}
.aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox{opacity: 0; visibility: hidden; position: absolute; left: 480px; top:0; transform: translateY(-50%); transition: all .3s; z-index: 9;}
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyHoverImgBox{opacity: 1; visibility: visible;}
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyHoverImgBox img{display: block; max-width: 100%; height: 100%; object-fit: cover;}
.aboutWrap .channelBox{display: flex; gap: 80px 114px; padding: 200px 0 0;}
.aboutWrap .channelBox .channelList li{width: 360px; margin-bottom: 80px;}
.aboutWrap .channelBox .channelList li:last-child{margin-bottom: 0;}
.aboutWrap .channelBox .channelList li a{display: block; padding: 24px 20px 20px 24px; background-color: #fff;}
.aboutWrap .channelBox .channelList li a img{display: block; margin-bottom: 56px;}
.aboutWrap .channelBox .channelList li a p{margin-bottom: 12px; color: #000;}
.aboutWrap .channelBox .channelList li a span{display: block; color: #B4B4B4; font-weight: 600; font-size: 13px;}

/* 호버 */
.aboutWrap .aboutJourneyList li a:hover{background-color: #222;}
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyYear,
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyTitle,
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyDetailList li{color: #fff;}
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyDetailList li::before{background-color: #fff;}

@media (max-width: 1199px){

  .aboutWrap .subTopBox{height: 700px;}
  .aboutWrap .subContentBox{padding: 120px 0;}

  .aboutWrap .titleBox{margin-bottom: 5vw;}
  .aboutWrap .infoTextBox{flex-direction: column; gap: 20px 0;}

  .aboutWrap .aboutVisionBox{margin: 0 0 8vw 0;}
  .aboutWrap .aboutMissionBox{margin:0 0 8vw 12.50vw;}
  .aboutWrap .aboutFutureBox{margin:0 0 8vw 25.00vw;}
  .aboutWrap .aboutJourneyBox{margin:0 0 8vw 37.50vw;}

  .aboutWrap .aboutJourneyList li a{padding: 20px 12px;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle{font-size: 26px;}

  .aboutWrap .channelBox{flex-direction: column; padding: 80px 0 0;}
  .aboutWrap .channelBox .channelList li{width: 100%; margin-bottom: 20px;}
  .aboutWrap .channelBox .channelList li a{padding: 20px;}

}

@media (max-width: 1024px){

  .aboutWrap .subTopBox{height: 500px;}
  
  .aboutWrap .aboutJourneyList li a{flex-wrap: wrap; justify-content: space-between;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle{max-width: none; width: auto;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyYear{margin-right: 0;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList{margin-top: 20px; width: 100%;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox{right:20px; left: auto;}
  
}

@media (max-width: 768px){

  .aboutWrap .subContentBox{padding: 80px 0;}

  .aboutWrap .titleBox{margin-bottom: 7vw;}

  .aboutWrap .aboutVisionBox{margin: 0 0 11vw 0;}
  .aboutWrap .aboutMissionBox{margin:0 0 11vw 12.50vw;}
  .aboutWrap .aboutFutureBox{margin:0 0 11vw 25.00vw;}
  .aboutWrap .aboutJourneyBox{margin:0 0 11vw 37.50vw;}

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle{font-size: 22px;}

}

@media (max-width: 480px){

  .aboutWrap .subContentBox{padding: 60px 0;}

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle{font-size: 20px;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox{max-width: 200px; height: 110px;}

  .aboutWrap .channelBox .channelList li a img{width: 32px; margin-bottom: 20px;}
  .aboutWrap .channelBox .channelList li a p{font-size: 14px;}

}

@media (max-width: 360px){

  .aboutWrap .subTopBox{padding: 0 0 16px; height: 360px;}

  .aboutWrap .titleBox{margin-bottom: 11vw;}
  
  .aboutWrap .aboutVisionBox{margin: 0 0 16.6vw 0;}
  .aboutWrap .aboutMissionBox{margin:0 0 16.6vw 12.50vw;}
  .aboutWrap .aboutFutureBox{margin:0 0 16.6vw 25.00vw;}
  .aboutWrap .aboutJourneyBox{margin:0 0 16.6vw 37.50vw;}

  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li{font-size: 12px;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle{font-size: 18px;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li::before{width: 2px; height: 2px; margin: 7px 5px 0;}
  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox{max-width: 160px; height: 90px;}
  .aboutWrap .channelBox .channelList li a p{font-size: 12px;}
  .aboutWrap .channelBox .channelList li a span{font-size: 10px;}

}

/* 문의 영역 */
.contactWrap{background-color: #FD3D32;}
.contactWrap .topTitleBox .topText01{color: #fff;}
.contactWrap #headerWrap .headerGnbBox .headerGnbList li h2 a{color: #fff;}
.contactWrap #headerWrap .headerContactLink{background-color: #fff; color: #FD3D32;}
.contactWrap #headerWrap .headerContactLink::after{background: url(../images/common/arrow_icon03.svg) no-repeat center}
.contactWrap .topTitleBox h2{color: #fff;}
.contactWrap .topTitleBox .topText01{color: #222;}
.contactWrap .formWrap{margin-bottom: 68px; display: flex; gap: 40px 120px;}
.contactWrap .formBox{margin-bottom: 28px;}
.contactWrap .formBox:last-child{margin-bottom: 0;}
.contactWrap .inpuChkFormBox{margin-top: 28px;}
.contactWrap .cunstomInpuChkBox label span{text-decoration: underline;}
.contactWrap .textareaBox{margin-bottom: 32px;}
.contactWrap .textareaBox textarea{height: 360px;}
.contactWrap .formLeftBox{max-width: 480px; width: 100%;}
.contactWrap .formRightBox{flex: 1; text-align: right;}
.contactWrap textarea,
.contactWrap input{width: 100%;}
.contactWrap .submitBtn{width: 480px; height: 80px; background-color: #222;}
.contactWrap .submitBtn span{display: flex; justify-content: center; align-items: center; gap: 0 32px; color: #fff; font-weight: 500; font-size: 40px; font-family: 'HelveticaNowDisplay';}
.contactWrap .submitBtn span::after{content: ''; width: 16px; height: 24px; background: url(../images/sub/arrow_icon01.svg)no-repeat center / contain;}
.contactWrap .contactMapBox{height: 400px;}
.contactWrap .contactMapBox img{display: block; width: 100%; height: 100%; object-fit: cover;}

@media (max-width: 1199px){

  .contactWrap .formWrap{flex-direction: column;}  
  .contactWrap .formLeftBox{max-width: none;}
  .contactWrap .submitBtn{width: 400px; height: 60px;}
  .contactWrap .submitBtn span{font-size: 30px;}

}

@media (max-width: 768px){

  .contactWrap .textareaBox textarea{height: 320px;}
  .contactWrap .submitBtn{width: 350px; height: 60px;}

}

@media (max-width: 480px){

  .contactWrap .submitBtn span{gap: 0 20px; font-size: 26px;}
  .contactWrap .submitBtn span::after{width: 13px; height: 20px;}
  .contactWrap .submitBtn{width: 300px; height: 60px;}

}

@media (max-width: 360px){

  .contactWrap .formWrap{margin-bottom: 40px;}
  .contactWrap .formBox{margin-bottom: 20px;}
  .contactWrap .submitBtn{width: 160px; height: 40px;}
  .contactWrap .submitBtn span{font-size: 16px;}
  .contactWrap .submitBtn span::after{width: 8px; height: 12px;}
  .contactWrap .textareaBox textarea{padding: 12px 10px 10px 12px;}
  .contactWrap .contactMapBox{height: 320px;}

}

/* 뉴스영역 */
.newsWrap{background-color: #F5F5F5;}
.newsWrap .newsTabBox{margin-bottom: 40px; display: flex;flex-wrap: wrap; justify-content: flex-end; gap: 10px 20px;}
.newsWrap .newsTabBox .newsTabBtn{padding: 6px 20px; border: 1px solid #222; border-radius: 50px; font-weight: 600; color: #222; transition: all .3s;}
.newsWrap .newsList{margin-bottom: 120px; padding-top: 80px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 60px; border-top: 1px solid #555;}
.newsWrap .newsList li a{position: relative; display: block; padding: 24px; background-color: #fff;}
.newsWrap .newsList li a .newsTopBox .newsCategory{display: inline-block; padding: 3px 12px; color: #222; font-size: 12px; font-weight: 600; border: 1px solid #222; border-radius: 50px; }
.newsWrap .newsList li a .newsTitle{min-height: 60px; margin-bottom: 80px; color: #222; font-size: 20px; font-weight: 600;}
.newsWrap .newsList li a .newsImgBox img{display: block; width: 100%;}
.newsWrap .newsList li a .newsTopBox{margin-bottom: 38px;display: flex; align-items: center; gap: 10px; justify-content: space-between;}
.newsWrap .newsList li a .newsTopBox .newsDate{font-size: 13px; font-weight: 600; color: #B4B4B4;}
.newsWrap .newsLoadMoreBtn{display: block; margin: 0 auto; font-size: 40px; font-weight: 500; color: #B4B4B4; font-family: 'HelveticaNowDisplay';}

/* 활성화, 호버 */
.newsWrap .newsTabBox .newsTabBtn.active,
.newsWrap .newsTabBox .newsTabBtn:hover{background-color: #FD3D32; color: #fff; border: 1px solid #FD3D32;}

@media (max-width: 1199px){

  .newsWrap .newsList{gap: 30px;}

}

@media (max-width: 1024px){

  .newsWrap .newsList{margin-bottom: 60px; padding-top: 60px; gap: 20px; grid-template-columns: repeat(2, 1fr);}
  .newsWrap .newsLoadMoreBtn{font-size: 26px;}

}

@media (max-width: 768px){

  .newsWrap .newsList{gap: 20px; grid-template-columns: 1fr;}
  .newsWrap .newsList li a .newsTopBox{margin-bottom: 30px;}
  .newsWrap .newsList li a .newsTitle{min-height: auto; margin-bottom: 40px; font-size: 18px;}

}

@media (max-width: 360px){

  .newsWrap .newsTabBox{gap: 8px;}
  .newsWrap .newsTabBox{margin-bottom: 20px;}
  .newsWrap .newsList{padding-top: 20px;}
  .newsWrap .newsTabBox .newsTabBtn{font-size: 12px;}
  .newsWrap .newsList li a{padding: 16px;}
  .newsWrap .newsList li a .newsTopBox .newsDate,
  .newsWrap .newsList li a .newsTopBox .newsCategory{font-size: 10px;}
  .newsWrap .newsList li a .newsTitle{margin-bottom: 12px; font-size: 13px;}
  .newsWrap .newsList li a .newsTopBox{margin-bottom: 16px;}
  .newsWrap .newsLoadMoreBtn{font-size: 16px;}
  
}

/* 서비스 영역 */
.serviceWrap .subContentBox{padding: 0 0 200px;}
.serviceWrap .serviceList{margin-bottom: 150px;}
.serviceWrap .serviceList li{border-bottom: 1px solid #E8E8E8;}
.serviceWrap .serviceList li a{padding: 40px; display: flex; align-items: center; gap: 20px 120px;}
.serviceWrap .serviceList li a .serviceImgBox{position: relative; max-width: 720px; width: 100%; height: 0; padding-top: 14.7%;}
.serviceWrap .serviceList li a .serviceImgBox img{display: block; position: absolute; top:0; left:0; right:0; bottom: 0;; width: 100%; height: 100%; object-fit: cover;} 
.serviceWrap .serviceList li a .serviceCategory{display: block; margin-bottom: 20px; font-weight: 600; color: #222;}
.serviceWrap .serviceList li a .serviceDescription{font-weight: 600; color: #222;}
.serviceWrap .serviceBrandSloganBox p{font-family: 'HelveticaNowDisplay'; font-size: 80px; font-weight: 500; line-height: 1; text-align: center; color: #B4B4B4; word-break: keep-all;} 

@media (max-width: 1199px){

  .serviceWrap .serviceList{margin-bottom: 120px;}
  .serviceWrap .serviceList li a{padding: 40px 0; flex-direction: column; gap: 40px 0;}
  .serviceWrap .serviceList li a .serviceImgBox{max-width: none; padding-top: 23%;}
  .serviceWrap .serviceList li a .serviceTextBox{width: 100%;}
  .serviceWrap .serviceBrandSloganBox p{font-size: 50px;}

}

@media (max-width: 768px){

  .serviceWrap .subContentBox{padding: 0 0 100px;}
  .serviceWrap .serviceBrandSloganBox p{font-size: 30px;}

}

@media (max-width: 480px){

  .serviceWrap .serviceList li a .serviceDescription br{display: none;}

}

@media (max-width: 360px){

  .serviceWrap .serviceList li a{padding: 20px 0; gap: 20px 0;}
  .serviceWrap .serviceList li a .serviceImgBox{padding-top: 31%;}
  .serviceWrap .serviceList li a .serviceCategory{margin-bottom: 12px; font-size: 10px;}
  .serviceWrap .serviceList li a .serviceDescription{font-size: 10px;}
    .serviceWrap .serviceBrandSloganBox p{font-size: 24px;}

}

/* 팀 영역 */
.teamWrap{background-color: #222;}
.teamWrap #headerWrap .headerGnbBox .headerGnbList li h2 a{color: #fff;}
.teamWrap .topTitleBox .topText01,
.teamWrap .topTitleBox .topText02{color: #fff;}
.teamWrap .topTitleBox .topText02 span{font-weight: 300;}